nav {
	color: white;
}
ul.navBar {
	position: fixed;
	width: 30%;
	padding: 10px;
	border: 3px solid #2b2d32;
	background-color: #3f93ab;
	left: 50%;
	top: -2.1%;
	margin-left: -250px;
}


li {
	display: inline;
	padding: 8px;
}

/* Change the link color to #111 (black) on hover */
li :hover {
	background-color: rgb(183, 255, 0);
}

.active {
	background-color: #474747;
	padding: 8px;
	color: aquamarine;
	font-size: larger;
	font-weight: bolder;
}
