div.Title.Title {
	position: absolute;
	padding: 0.5rem;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	color: black;
	top: 220px;
	box-shadow: 0 0 15px rgb(0, 0, 0);
	width: 93%;
}
div.row.Buttons {
	position: relative;
	bottom: -5px;
}
